# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# x64/Debug 나 Debug 폴더 안 보고 싶어서
*.tlog
*.recipe
*.log
*.res
*.idb
*.pdb
*.vcxproj.FileListAbsolute.txt

# Visual C++ cache files
ipch/
*.ipch
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
*.vsidx
*.lock
*.lock
*.exe
*.ilk
*.ilk
*.exe
.vs/TPSLongTermProject/v17/.suo
Client/x64/Debug/WindowsProject1.ilk
x64/Debug/WindowsProject1.exe
.vs/TPSLongTermProject/v17/.suo
Client/x64/Debug/WindowsProject1.ilk
x64/Debug/WindowsProject1.exe
*.exe
.vs/TPSLongTermProject/v17/.suo
Client/x64/Debug/WindowsProject1.ilk
x64/Debug/WindowsProject1.exe
.vs/TPSLongTermProject/v17/Browse.VC.db-shm
.vs/TPSLongTermProject/v17/Browse.VC.db-wal
